body {
    /*background-image: url("/static/img/background.jpg");*/
    background-image: url("/static/img/international_space_station_view_space_day_time_clouds_earth_northern_europe_ocean-1030912.jpg!d.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#main_content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

#menu {
    background-color: #f2f2f2;
    padding: 20px;
    color: black;
    border-color: #cccccc;
}

.title {
    font-size: 50px;
    color: #cccccc;
}

.table {
    background-color: rgba(255, 255, 255, 0.8);
}

.button {
    background-color: #e6e6e6;
    border-radius: 5px;
}

.modal-content {
    width: auto;
}

.modal-body, th {
    width: auto !important;
    overflow: auto;
}

